/**************
** VARIABLES **
**************/

/* NOTE: text color and font sizes may not be added everywhere */
:root {
  /* material color scheme */
  --COLOR-background: #101010;
  --COLOR-topnav: #202020;

  --COLOR-content-back: #151515;
  --COLOR-content: #1B1B1B;
  --COLOR-content-front: #1D1D1D;
  --COLOR-content-active: #1F1F1F;

  --COLOR-text: #FFFFFF;
  --COLOR-text-big: #E2E2E2;
  --COLOR-text-active: #FFFFFF;

  --COLOR-shadow-small: 0px 0px 16px 8px #30303088;
  --COLOR-shadow-big: 0px 0px 16px 16px #30303088;
  --COLOR-shadow-icon: 0px 0px 2px #000000FF;

  /* shape sizes */
  --SIZE-margin: 10px;  /* width and height */
  --SIZE-topnav: 40px;  /* height */
  --SIZE-sidebar: calc(154px + var(--SIZE-margin)*4);  /* width */

  /* font sizes */
  --FONT-small: 16px;
  --FONT-medium: 20px;
  --FONT-big: 24px;
}



/************
** GENERAL **
************/

body {
  background-color: var(--COLOR-background);

  margin: 0px;

  height: 100%;
  overflow: hidden;
}

.root {
  font-family: 'Netflix Font', sans-serif;
  color: var(--COLOR-text);
}

.mainContainer {
  display: flex;

  gap: var(--SIZE-margin);
  margin: var(--SIZE-margin);
  margin-top: calc(var(--SIZE-topnav) + var(--SIZE-margin));
}

/* removes scrollbars */
::-webkit-scrollbar {
  width: 0px;
}



/***********
** TOPNAV **
***********/

.topnavContainer {
  background-color: var(--COLOR-topnav);

  position: fixed;
  top: 0px;
  z-index: 100;

  width: 100%;
  height: var(--SIZE-topnav);
}

.topnavSubcontainer {
  display: flex;

  gap: calc(var(--SIZE-margin)*2);
  padding-top: var(--SIZE-margin);
}

.topnavSubcontainerLeft {
  float: left;

  padding-left: calc(var(--SIZE-margin)*2);
}

.topnavSubcontainerRight {
  float: right;

  padding-right: calc(var(--SIZE-margin)*2);
}

.topnavLink {
  text-decoration: none;
  font-size: var(--FONT-medium);
  color: var(--COLOR-text-big);
}

.topnavLink:hover {
  transform: scale(1.05);

  box-shadow: var(--COLOR-shadow-small);

  color: var(--COLOR-text-active);
}



/************
** SIDEBAR **
************/

.sidebarContainer {
  background-color: var(--COLOR-content);

  display: flex;
  justify-content: center;

  flex-basis: var(--SIZE-sidebar);
  flex-grow: 0;
  flex-shrink: 0;

  height: calc(100vh - var(--SIZE-topnav) - var(--SIZE-margin)*2);
  width: var(--SIZE-sidebar);
}

.sidebarText {
  display:flex;
  justify-content: space-around;

  width: var(--SIZE-sidebar);

  padding-top: var(--SIZE-margin);
  padding-bottom: var(--SIZE-margin);

  font-size: var(--FONT-medium);
  text-align: center;
}

.sidebarTable {
  display: flex;
  flex-direction: column;

  gap: calc(var(--SIZE-margin)*2);
  padding: calc(var(--SIZE-margin)*2);

  /* not sure where the 3px come from */
  max-height: calc(100vh - var(--SIZE-topnav) - var(--FONT-medium) - var(--SIZE-margin)*7 - 3px);

  overflow: scroll;
}

.sidebarTableRow {
  /* same size as the API gives us */
  width: 154px;
  height: 231px;

  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

  border-radius: 5px;
}

.sidebarTableRow:hover {
  transform: scale(1.05);

  box-shadow: var(--COLOR-shadow-small);

  cursor: pointer;
}



/***********
** CENTER **
************/

.centerContainer {
  background-color: var(--COLOR-content-back);

  flex-grow: 1;

  max-height: calc(100vh - var(--SIZE-topnav) - var(--SIZE-margin)*2);

  overflow-y: scroll;
}



/********************
** CENTER > SEARCH **
********************/

.searchContainer {

}



/***************************
** CENTER > SEARCH > FORM **
***************************/

.searchFormContainer {
  /* 500px; not sure why you set this to 500px */
  width: 500px;
  height: calc(var(--FONT-small) + var(--SIZE-margin)*2);
}

.searchFormInput {
  background-color: var(--COLOR-content);

  height: 100%;
  width: 100%;

  border: none;
  outline: none;

  font-size: var(--FONT-small);
  text-indent: var(--SIZE-margin);
  color: #636363;
}

.searchFormInput:hover {
  background-color: var(--COLOR-content-front);
}

.searchFormInput:focus {
  background-color: var(--COLOR-content-active);
}

.searchFormInput::placeholder {
  color: #8E8E8E;
  text-indent: 10px;
}

.searchFormButton {
  background: transparent;

  position: relative;
  float: right;
  top: -30px;

  cursor: pointer;

  border: none;
}

.searchFormButtonIcon {
  width: 20px;
  height: 20px;
}

.searchBarContainer {
  display: flex;
  align-items: center;
}

.sideBarOptionsContainer {
  display: flex;
}


.sortButtonContainer {
  margin-top: 8px;
  margin-left: 10px;
}

.removeAllButtonContainer {

}

.sortButtonIcon {
  width: 20px;
  height: 20px;
}

.sortButton {
  background: transparent;
  cursor: pointer;
  border: none;
}

.removeAllButton {
  background: transparent;
  cursor: pointer;
  border: none;
}

.dropdown {
  position: absolute;
  background-color: var(--COLOR-content);
  box-shadow: var(--COLOR-shadow-small);
  z-index: 1000;
}

.dropdown-item {
  padding: 10px;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.3s;
  color: var(--COLOR-text);
}

.dropdown-item:hover {
  background-color: var(--COLOR-content);
}

/*****************************
** CENTER > SEARCH > RESULT **
*****************************/

.searchResultContainer {

}

.searchResultText {
  padding-top: calc(var(--SIZE-margin)*4);
  padding-left: calc(var(--SIZE-margin)*2);

  font-size: var(--FONT-big);
  text-align: left;
}

.searchResultGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  gap: calc(var(--SIZE-margin)*4);
  padding: calc(var(--SIZE-margin)*2);
}

.searchResultCard {
  display: grid;

  /* same size as the API gives us */
  width: 300px;
  height: 450px;

  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

  border-radius: 10px;
  overflow: hidden;
}

.searchResultCard:hover {
  transform: scale(1.05);

  box-shadow: var(--COLOR-shadow-big);

  cursor: pointer;
}

.searchResultCardBackground {
  grid-column: 1;
  grid-row: 1;
  z-index: 1;

  object-fit: cover;
}

.searchResultCardContent {
  grid-column: 1;
  grid-row: 1;
  z-index: 2;
}

.searchResultCardRating i {
  filter: drop-shadow(var(--COLOR-shadow-icon));
}

.searchResultCardText {
  background-color: var(--COLOR-content-active);

  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 40px;

  font-size: var(--FONT-small);
  color: var(--COLOR-text);
  text-align: center;

  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.searchResultCard:hover
.searchResultCardText {
  opacity: 1;
}



/*********************
** CENTER > DETAILS **
*********************/

.detailsContainer {
  display: grid;

  height: calc(100vh - var(--SIZE-topnav) - var(--SIZE-margin)*2);
}

.detailsBackground {
  grid-column: 1;
  grid-row: 1;
  z-index: 1;

  object-fit: cover;
  height: 100%;
  width: 100%;

  filter: brightness(50%);
}

.detailsContent {
  grid-column: 1;
  grid-row: 1;
  z-index: 2;

  display: flex;
}

.detailsInformation {
  margin: calc(var(--SIZE-margin)*2);
  margin-top: 0px;

  width: 60%;
}

.detailsInformationTitle {

}

.detailsInformationRating {

}

.detailsInformationYear {

}

.detailsInformationGenres {
  display: flex;
  flex-wrap: wrap;

  gap: 5px;
}

.detailsInformationGenresBubble {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--COLOR-content-active);

  border-radius: 5px;
  padding: 5px;

  height: 20px;
}

.detailsInformationDescription {

}

.detailsPoster {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: var(--SIZE-margin);

  width: 40%;
}

.detailsPosterImage {
  /* same size as the API gives us */
  height: 450px;
  width: 300px;
}

.detailsPosterButton {
  background: var(--COLOR-content-front);

  /* same width image above */
  width: 300px;
  height: 40px;

  cursor: pointer;

  border: none;
  border-radius: 10px;

  transition: transform 0.2s ease-in-out;

  font-size: 20px;
  color: var(--COLOR-text);
}

.detailsPosterButton:hover {
  transform: scale(1.05);

  background: var(--COLOR-content-active);
}



/********
** ADS **
********/

.adsContainer {
  background-color: #141414;

  flex-basis: var(--SIZE-sidebar);
  flex-grow: 0;
  flex-shrink: 0;

  height: calc(100vh - var(--SIZE-topnav) - var(--SIZE-margin)*2);
}

/* for future use */
.adsContainer:hover {
  cursor: pointer;
}

.adsImage {
  width: 100%;
  height: 100%;
}



/**********
** OTHER **
**********/

.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
}

.loadingImage {

}
